body {
    padding-top: 50px;
}

* {
    border-radius: 0 !important;
}

.shopping-list {
    width: 600px;
    margin: 0 auto;
}

.item-list {
    margin-top: 20px;
    box-shadow: 0 0 12px #ddd;
}

.item-list .input-group {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.item-row {
    border-bottom: 1px solid #eee;
}

.item-list p, .item-list input {
    font-size: 18px;
}

#add-item .form-control:focus {
    border-color: transparent;
    box-shadow: none;
}

.item-list .row {
    padding: 0;
    margin: 0;
}

.item-list .row .text p {
    padding: 0;
    margin: 15px 0;
}

.item-list .row .control .glyphicon {
    padding: 0;
    margin: 15px 0;
}