#flag {
    width: 650px;
    height: 390px;
    position: relative;
    border: 1px solid black;
}

#flag #stars {
    width: 300px;
    height: 210px;
    position: absolute;
    background-color: #000066;
    z-index: 2;
}

#flag #stars .star-col,
#flag #stars .star-col-alt {
    width: 21px;
    height: 210px;
    float: left;
    margin-left: 5px;
}

#flag #stars .star-col {

}

#flag #stars .star-col-alt {
    padding-top: 1.3em;
}

#flag #stars .star {
    color: #fff;
    font-size: 1.5em;
    display: block;
    margin-bottom: 14px;
}

#flag #stripes {
    position: absolute;
    z-index: 1;
}

#flag #stripes .stripe,
#flag #stripes .stripe-alt {
    height: 30px;
    width: 650px;
}

#flag #stripes .stripe {
    background-color: #FF0000;
}

#flag #stripes .stripe-alt {
    background-color: #fff;
}