<div class="shopping-list">
    <h1>Shopping List</h1>

    <div class="item-list">
        <div class="row">
            <form ng-submit="methods.addItemToList()">
                <div class="input-group input-group-lg">
                    <input type="text" class="form-control" ng-model="data.newListItem" placeholder="Bread, Milk, Cheese etc..." />
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button" ng-click="methods.addItemToList()">Add</button>
                    </span>
                </div><!-- /input-group -->
            </form>
        </div>

        <div ng-repeat="item in data.shoppingList" class="row item-row">
            <div class="col-xs-10 text">
                <p ng-hide="item.editMode == true">{{ item.text }}</p>

                <div class="input-group input-group-lg" ng-hide="item.editMode == false">
                    <form ng-submit="methods.updateItem(item)" >
                        <input type="text" class="form-control" ng-model="data.itemInEdit.text"  />
                    </form>
                </div>
            </div>
            <div class="col-xs-1 control">
                <button class="btn glyphicon glyphicon-pencil" ng-click="methods.toggleEdit(item)">
                </button>
            </div>
            <div class="col-xs-1 control">
                <button class="btn glyphicon glyphicon-remove" ng-click="methods.deleteItemFromList(item)">
                </button>
            </div>
        </div>
    </div>
</div>
